page-home {

    .bar{
        background-color:#815c4a;
        color:#ffffff;
    }

    .sort{
        background-color:#583d2f;
        color:#ffffff;
    }

    .highlight{
        background-color: #f0ebe9;
        border-color:gray;
        border-style: solid;
        border-width: 1px;
    }

    .bin{
        display:none;
    }

    .list-elements{
        border-color:gray;
        border-style: solid;
        border-width: 1px;
    }

    .list-elements:hover{
        background-color: #f0ebe9;
    }

    .list-elements:hover .bin{
        display:inline !important;
    }

    .col{
        padding:3%;
    }

    ion-icon{
        font-size:18px;
    }

}
