<ion-content padding>

  <ion-item *ngIf="todo.length == 0" text-center>Task list is empty.</ion-item>

  <ion-grid *ngIf="todo.length > 0" fixed>
      <ion-row class="bar">
        <ion-col col-6 *ngIf="(currentColSorted == '' && currentSorting == '') || (currentColSorted != 'task_name' && currentSorting != '')" (click)="sortList('task_name')">
          Task name
        </ion-col>
        <ion-col class="sort" col-6 *ngIf="currentColSorted == 'task_name' && currentSorting == 'asc'" (click)="sortList('task_name')">
          Task name <ion-icon style="font-size:14px" name="md-trending-up"></ion-icon>
        </ion-col>
        <ion-col class="sort" col-6 *ngIf="currentColSorted == 'task_name' && currentSorting == 'desc'" (click)="sortList('task_name')">
          Task name <ion-icon style="font-size:14px" name="md-trending-down"></ion-icon>
        </ion-col>

        <ion-col col-3 *ngIf="(currentColSorted == '' && currentSorting == '') || (currentColSorted != 'priority_value' && currentSorting != '')" (click)="sortList('priority_value')">
          Priority
        </ion-col>
        <ion-col class="sort" col-3 *ngIf="currentColSorted == 'priority_value' && currentSorting == 'asc'" (click)="sortList('priority_value')">
          Priority <ion-icon style="font-size:14px" name="md-trending-up"></ion-icon>
        </ion-col>
        <ion-col class="sort" col-3 *ngIf="currentColSorted == 'priority_value' && currentSorting == 'desc'" (click)="sortList('priority_value')">
          Priority <ion-icon style="font-size:14px" name="md-trending-down"></ion-icon>
        </ion-col>

        <ion-col col-3 *ngIf="(currentColSorted == '' && currentSorting == '') || (currentColSorted != 'done' && currentSorting != '')" (click)="sortList('done')">
          Done
        </ion-col>
        <ion-col class="sort" col-3 *ngIf="currentColSorted == 'done' && currentSorting == 'asc'" (click)="sortList('done')">
          Done <ion-icon style="font-size:14px" name="ios-create-outline"></ion-icon>
        </ion-col>
        <ion-col class="sort" col-3 *ngIf="currentColSorted == 'done' && currentSorting == 'desc'" (click)="sortList('done')">
          Done <ion-icon style="font-size:14px" name="ios-create"></ion-icon>
        </ion-col>
      </ion-row>

      <ng-container *ngFor="let item of todo; let i = index">
          <ion-row *ngIf="i >= firstDisplayedIndex-1 && i <= lastDisplayedIndex-1 && toDelete != i" (click)="showBin(i)" class="content">
            <ion-col col-6>{{item['task_name']}}</ion-col>
            <ion-col col-3>{{item['priority']}}</ion-col>
            <ion-col col-2><ion-checkbox [(ngModel)]="item['done']" name="item['task_name']" (ngModelChange)="updateList()"></ion-checkbox></ion-col>
          </ion-row>

            <ion-row *ngIf="i >= firstDisplayedIndex-1 && i <= lastDisplayedIndex-1 && toDelete == i" (click)="showBin(i)" class="highlight">
              <ion-col col-6>{{item['task_name']}}</ion-col>
              <ion-col col-3>{{item['priority']}}</ion-col>
              <ion-col col-2><ion-checkbox [(ngModel)]="item['done']" name="item['task_name']" (ngModelChange)="updateList()"></ion-checkbox></ion-col>
              <ion-col col-1><ion-icon name="ios-trash-outline" *ngIf="bin == true && toDelete == i" (click)="deleteTask(i,item['task_name'])"></ion-icon></ion-col>
            </ion-row>
      </ng-container>
  </ion-grid>

  <ion-grid fixed>
    <ion-row *ngIf="todo.length > 0" align-items-center>
        <ion-col col-7>
          <ion-item no-lines>
              <ion-label style="font-size:12px;" text-right>Rows per page</ion-label>
              <ion-select [(ngModel)]="rowsPerPage" (ngModelChange)="updatePages()" interface="popover">
                <ion-option *ngFor="let rpp of rowsPerPageList" value="{{rpp.value}}">{{rpp.name}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-3 text-right>
            {{firstDisplayedIndex}} - {{lastDisplayedIndex}} of {{todo.length}}
        </ion-col>

        <ion-col col-1>
            <ion-icon name="ios-arrow-back" *ngIf="currentPage == 1" disabled> </ion-icon>
            <ion-icon name="ios-arrow-back" *ngIf="currentPage != 1" (click)="prevPage()"> </ion-icon>
        </ion-col>

        <ion-col col-1>
            <ion-icon name="ios-arrow-forward" *ngIf="currentPage == pages" disabled></ion-icon>
            <ion-icon name="ios-arrow-forward" *ngIf="currentPage != pages" (click)="nextPage()"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row align-items-center>
        <ion-col col-8>
          <ion-item>
              <ion-label floating>Add new task</ion-label>
              <ion-input type="text" name="newTask" [(ngModel)]="new_task" clearInput></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
              <ion-label floating>Priority</ion-label>
              <ion-select [(ngModel)]="selectedPriority" interface="popover">
                <ion-option *ngFor="let pr of priorityList" value="{{pr.value}}">{{pr.name}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3><button ion-button (click)="addNewTask()">Add task</button></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
